* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("../Images/background2.jpg");
    border-image-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-my-css{
    background-color: black;
}

.imgLogo{
   
    width: 242px;
    height: 180px;
}
 .container-fluid {
    margin: 0px;
    padding: 0px;
} 
.main{
    max-width: 70%;
}
/* .navbar {
    position: absolute;
    background-color: rgba(22, 22, 22, 1);
     border: 1px solid white; 
    max-height: 100px;
    bottom: 0px;
    
} */
#logo {
    padding: 0;
    margin: 0;
    border: 1px solid white;
}
.gears {
    max-width: 400px;
    max-height: 400px;
    float: left;
}
.row {
    clear: both;
}

.column {
    max-width: 450px;
    float: left;
   
}
.img-clear {
    clear: both;
}

.heading-start{
    font-size: 20px;
}
p {
    font-size: 16px;
}
#filter-bikes{
   display: none;
   
}
#showBikes{
    /*display: none;
    
}*/
background-color: white;
position: relative;
padding: 5px;
}

.asaid-nav{
    display: none;
    background-color: rgba(0, 139, 139, 1);
    height:auto;
    padding: 10px;
}
.submitSort{
   padding: 5px;
}



.header{
    background-color: rgba(173, 216, 230, 0.3); 
    max-width: 100%;
    padding: 0px;
    
}
hr{
    border: 3px solid black;
}

.bikes-render :hover{
 
 background-color: darkgray;

}

.bikes-render{
    font-size: 12px;
    padding: 5px;
}

.form-size{
    padding-top: 30px;
}

.showResult{
    margin-top: 50px;
    text-align: center;
}
.nav-heading{
    font-weight: bold;
    font-size: 24px;
}
.nav-link {
    font-size: 20px;
    text-transform: uppercase;
   
} 
 .nav-item {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid white;
    
}
.nav-item :hover {
    color: white;
   
}
.nav-item::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: 0.2s;
    background:white;
}
.nav-item:hover::after{
    width: 100%;
}

.nav-link{
    padding:15px 5px;
    transition:0.2s;
}
.tumb{
  width: 108px;
  height: 108px;
  border: 1px solid gray;
  
}
.tumbs {
    padding-top: 20px;
}
.tumbs :hover{
opacity: 0.5; 
cursor: pointer;
}


/* register form*/

.form-group{
	margin-bottom: 15px;
}
/* .main{
    margin-top: 70px;
} */



input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #1C728A;
    /* shadows and rounded borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

label{
	margin-bottom: 15px;
    font-size:18px;
    color: #fff;
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.iconbk{
    background-color:#5BC0DE;
}
.formcontrolcls { 
    padding: 9px; 
    border: solid 1px #4B718B; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #9DDAEC), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #9DDAEC 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

    } 